<!DOCTYPE html>
<html>
<head>
	<title>Question Details of {{id}}</title>
</head>
<body>
<h1>{{ que }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' que.id %}" method="post">
	{% csrf_token %}
	{% for choice in que.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
		<label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
	{%endfor%}
	<input type="submit" name="" value="vote">
</form>
<form action="{%url 'polls:mail' %}" method="post">
	{% csrf_token %}
	<input type="text" name="subject" id="subject"><br>
	<input type="textArea" name="message" id="message"><br>
	<input type="text" name="from" id="from"><br>
	<input type="text" name="mailto" id="mailto"><br>
	<input type="submit" name="mail him" value="mail">

</form>
</body>
</html>